.footer {
  &-topbar {
    background: $dark-main-color;
  }
  &-logo {
    background: $main-color;
    &__image {
      height: 36px;
      & > img {
        object-fit: contain;
        height: 100%;
      }
    }
  }
  &-main {
    background: $main-color;
    padding: 36px 0 42px 0;
    &__head {
      font-size: 1.4rem;
      font-weight: 600;
      color: $gold-color;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: $gold-color;
      }
    }
    &__content {
      line-height: 1.7;
      & > li > a {
        color: #fff;
      }
    }
  }
  &-copyright {
    background: #31060c;
  }
}

@media (max-width: 1199px) {
  .footer {
    &-main {
      padding-bottom: 0;
    }
  }
}
