.single {
  .post-head {
    h2.page-title {
      font-weight: 500;
      font-size: 36px;
      line-height: 1.1;
      color: $main-color;
      margin-bottom: 4px;
      @media screen and (max-width: 575px) {
        font-size: 28px;
      }
    }

    .post-category {
      font-size: 14px;
      line-height: 18px;
      color: $main-color;
      margin-bottom: 4px;
    }

    .post-meta {
      font-size: 14px;
      line-height: 18px;
      color: #888;

      &__separate {
        display: inline-block;
        margin: 0 10px;
      }
    }
    margin-bottom: 24px;
  }
  .post-content {
    margin-bottom: 16px;
  }
}

.recent-post {
  .post-item {
    .post-thumbnail {
      height: 151px;
    }
    .post-category {
      margin: 13px 0px 4px;
      font-weight: bold;
      text-transform: capitalize;
      a {
        font-size: 12px;
        line-height: 18px;
        color: $main-color;
      }
    }
    .post-title {
      margin-bottom: 4px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      a {
        color: #4f4f4f;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
      }
    }
    .post-meta {
      font-size: 12px;
      line-height: 18px;
      &__separate {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}
